@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Sans+Pro:wght@200&display=swap');
* {
  font-family: 'Ubuntu';
  font-weight: 300;
}
body {
  background-color: #f8f8f8 !important;
}
.search-filters-container {
  display: flex;
  justify-content: space-between;
}
.filters-container {
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.dropBtn {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: blue;
}
.dropBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.switch {
  display: block;
  width: 150px;
  padding: 1px;
  text-align: left;
}
.switch:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  height: 2rem;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search:focus {
  outline: none;
  border-bottom: 1px solid black;
}
/* login file */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* header file */
.user-management-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.notification-container {
  position: relative;
}
.notification-container sup { 
  position: absolute;
  top: 3px;
  right: 6px;
  font-size: 10px;
  font-weight: bold;
  color: #00FF00;
}

/* Designing table */
.table-container {
  width: 100%;
  margin: 5px auto;
  border-bottom: none;
  overflow-x: auto;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}
.table-cell {
  padding: 2px 0 !important;
}

/* design add-user */
.add-user-container {
  width: 53rem;
  height: 45rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px;
}

/* Supplier-info file */
.debt-section {
  margin-left: 10px;
  font-weight: bold;
}
.debt-amount-container {
  background-color: white;
  width: 10rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Add customer file. */
.add-customer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* edit customer file. */
.edit-customer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 25rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
  padding: 0 6px;
}

/* change purchase order file */
.change-purchase-status-container {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 5rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Report file / home file */
.report-display-container {
  width: 100%;
  height: 26rem;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-top: 10px;
}
.report-display-table-container {
  height: 19rem;
  background-color: white;
  overflow-y: auto;
}

/* Edit Product */
.editBtn {
  border: none;
  font-size: 14px;
  color: blue;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}
.editBtn:active {
  background-color: rgba(0, 0, 255, 0.125);
}

/* add product file */
.input-container {
  width: 15rem;
}
.input-container * {
  padding: 0;
  margin: 0;
}
.input-container p {
  color: #a8b3ca;
}
.input-container input {
  font-size: 18px;
  padding: 2px 0px;
  width: 20rem;
}
.product-detail-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}
/* Purchase Order file */
.table-header-row {
  background-color: #567ef9;
}
.table-header-columns {
  color: white !important;
  font-weight: bold !important;
}
.purchase-order-input {
  padding: 2px 3px;
  width: 5rem;
}

/* notification file */
.alert-notification-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.alert-notification-container .card {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  width: 20rem;
  paddingTop: 10px;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* permission denied */
.permission-denied-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}
.permission-denied-container h1, h6 {
  color: red;
}
/* update user file */
.role-permissions .inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.role-permissions .inner-container .switch {
  width: 200px;
}

/* Report file */
.chart-container {
  width: 35rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.inactive {
  display: none !important;
}
